<h1> my favorite article </h1>
<form method="POST" action="/articles">
Title: <input type="text" name= "title">
Content: <input type="text" name= "content">

    <input type="submit" value="Create Article">
</form>